[example_postgres]
disabled = true
mode = batch
connector = postgres
interval_secs = 60
host = database.example
port = 5432
database = events
username = dbx_reader
secret_ref = local:example_postgres
tls_mode = verify-full
tls_server_name = database.example
tls_ca_file = $DBX_RS_APP_HOME/certs/psql/database-ca.pem
query_file = $DBX_RS_APP_HOME/queries/psql/example.sql
connect_timeout_secs = 10
probe_timeout_secs = 10
query_timeout_secs = 30
max_rows = 1000
max_bytes = 1048576
index = dbx_rs_test
sourcetype = dbx_rs:postgres:row
source = dbx_rs:example_postgres

[example_postgres_rising]
disabled = true
mode = rising
input_id = 7f4e0c52-4d73-4bf8-9a48-57e8801d16af
cursor_timestamp_field = dbx_cursor_time
cursor_id_field = dbx_cursor_id
cursor_overlap_secs = 30
connector = postgres
interval_secs = 60
host = database.example
port = 5432
database = events
username = dbx_reader
secret_ref = local:example_postgres_rising
tls_mode = verify-full
tls_server_name = database.example
tls_ca_file = $DBX_RS_APP_HOME/certs/psql/database-ca.pem
query = SELECT occurred_at AS dbx_cursor_time, event_id AS dbx_cursor_id, payload FROM public.events
connect_timeout_secs = 10
probe_timeout_secs = 10
query_timeout_secs = 30
max_rows = 1000
max_bytes = 1048576
index = dbx_rs_test
sourcetype = dbx_rs:postgres:row
source = dbx_rs:example_postgres_rising

[example_oracle]
disabled = true
mode = batch
connector = oracle
interval_secs = 60
host = oracle.example
port = 2484
database = ORCLPDB1
username = dbx_reader
secret_ref = local:example_oracle
tls_mode = verify-full
tls_server_name = oracle.example
tls_ca_file = $DBX_RS_APP_HOME/certs/oracle/database-ca.pem
query_file = $DBX_RS_APP_HOME/queries/oracle/example.sql
connect_timeout_secs = 10
probe_timeout_secs = 10
query_timeout_secs = 30
max_rows = 1000
max_bytes = 1048576
index = dbx_rs_test
sourcetype = dbx_rs:oracle:row
source = dbx_rs:example_oracle

[example_mysql]
disabled = true
mode = batch
connector = mysql
interval_secs = 60
host = mysql.example
port = 3306
database = events
username = dbx_reader
secret_ref = local:example_mysql
tls_mode = verify-full
tls_server_name = mysql.example
tls_ca_file = $DBX_RS_APP_HOME/certs/mysql/database-ca.pem
query_file = $DBX_RS_APP_HOME/queries/mysql/example.sql
connect_timeout_secs = 10
probe_timeout_secs = 10
query_timeout_secs = 30
max_rows = 1000
max_bytes = 1048576
index = dbx_rs_test
sourcetype = dbx_rs:mysql:row
source = dbx_rs:example_mysql

[example_mysql_rising]
disabled = true
mode = rising
input_id = d13e6379-780c-4bf7-9048-dcd81cf53775
cursor_timestamp_field = dbx_cursor_time
cursor_id_field = dbx_cursor_id
cursor_overlap_secs = 30
connector = mysql
interval_secs = 60
host = mysql.example
port = 3306
database = events
username = dbx_reader
secret_ref = local:example_mysql_rising
tls_mode = verify-full
tls_server_name = mysql.example
tls_ca_file = $DBX_RS_APP_HOME/certs/mysql/database-ca.pem
query = SELECT updated_at AS dbx_cursor_time, event_id AS dbx_cursor_id, payload FROM events
connect_timeout_secs = 10
probe_timeout_secs = 10
query_timeout_secs = 30
max_rows = 1000
max_bytes = 1048576
index = dbx_rs_test
sourcetype = dbx_rs:mysql:row
source = dbx_rs:example_mysql_rising

[example_mariadb]
disabled = true
mode = batch
connector = mariadb
interval_secs = 60
host = mariadb.example
port = 3306
database = events
username = dbx_reader
secret_ref = local:example_mariadb
tls_mode = verify-full
tls_server_name = mariadb.example
tls_ca_file = $DBX_RS_APP_HOME/certs/mariadb/database-ca.pem
query_file = $DBX_RS_APP_HOME/queries/mariadb/example.sql
connect_timeout_secs = 10
probe_timeout_secs = 10
query_timeout_secs = 30
max_rows = 1000
max_bytes = 1048576
index = dbx_rs_test
sourcetype = dbx_rs:mariadb:row
source = dbx_rs:example_mariadb

[example_mariadb_rising]
disabled = true
mode = rising
input_id = a291f614-7c0d-426c-9c3b-05b05e394876
cursor_timestamp_field = dbx_cursor_time
cursor_id_field = dbx_cursor_id
cursor_overlap_secs = 30
connector = mariadb
interval_secs = 60
host = mariadb.example
port = 3306
database = events
username = dbx_reader
secret_ref = local:example_mariadb_rising
tls_mode = verify-full
tls_server_name = mariadb.example
tls_ca_file = $DBX_RS_APP_HOME/certs/mariadb/database-ca.pem
query = SELECT updated_at AS dbx_cursor_time, event_id AS dbx_cursor_id, payload FROM events
connect_timeout_secs = 10
probe_timeout_secs = 10
query_timeout_secs = 30
max_rows = 1000
max_bytes = 1048576
index = dbx_rs_test
sourcetype = dbx_rs:mariadb:row
source = dbx_rs:example_mariadb_rising

[example_mssql]
disabled = true
mode = batch
connector = mssql
interval_secs = 60
host = mssql.example
port = 1433
database = events
username = dbx_reader
secret_ref = local:example_mssql
tls_mode = verify-full
tls_server_name = mssql.example
tls_ca_file = $DBX_RS_APP_HOME/certs/mssql/database-ca.pem
query_file = $DBX_RS_APP_HOME/queries/mssql/example.sql
connect_timeout_secs = 10
probe_timeout_secs = 10
query_timeout_secs = 30
max_rows = 1000
max_bytes = 1048576
index = dbx_rs_test
sourcetype = dbx_rs:mssql:row
source = dbx_rs:example_mssql

[example_mssql_rising]
disabled = true
mode = rising
input_id = 4c7ac4b1-bcc3-4a69-85c9-f513bd0d0a13
cursor_timestamp_field = dbx_cursor_time
cursor_id_field = dbx_cursor_id
cursor_overlap_secs = 30
connector = mssql
interval_secs = 60
host = mssql.example
port = 1433
database = events
username = dbx_reader
secret_ref = local:example_mssql_rising
tls_mode = verify-full
tls_server_name = mssql.example
tls_ca_file = $DBX_RS_APP_HOME/certs/mssql/database-ca.pem
query = SELECT updated_at AS dbx_cursor_time, event_id AS dbx_cursor_id, payload FROM dbo.events
connect_timeout_secs = 10
probe_timeout_secs = 10
query_timeout_secs = 30
max_rows = 1000
max_bytes = 1048576
index = dbx_rs_test
sourcetype = dbx_rs:mssql:row
source = dbx_rs:example_mssql_rising
